.csv-table {
    --bg-header: bisque;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    .csv-table-header {
        background-color: var(--bg-header);
        .cell {
            padding: 5px;
            position: relative;
            &:hover {
                .setting {
                    display: block;
                }
            }
        }
    }
    .row {
        display: flex;
        background-color: rgb(196, 255, 199);
       // padding-left: 1px;

    }
    .cell {
        border-top: 1px solid #000;
        border-left: 1px solid #000;
    }

    input, select {
        border: 0 solid;
        width: 100%;
    }


    .setting {
        display: none;
        position: absolute;
        right: 2px;
        top: 2px;
        background-color: var(--bg-header);
        border-radius: 50%;
        padding: 3px;
        font-family: 'primeicons';
        cursor: pointer;

        &:before {
            content: "\e94a";
        }
    }

}